<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p> hi <%= @debt.from %></p>
<p>You have to give <%= @debt.amount %> amount of money to</p>
</body>
</html>
